# Dependencias
node_modules/

# Builds y artefactos
dist/
*.exe
*.rar
*.blockmap
builder-debug.yml
builder-effective-config.yaml

# Datos locales
*.tmp

# Archivos de configuracion con datos sensibles
configurar-git-y-clonar-repositorio.json

# Sistema
Thumbs.db
Desktop.ini
